<div class="row">
  <div class="input-field col s6">
    <input placeholder="Plan Beginn" name="planStart" type="text" [(ngModel)]="model.planStart"
           id="planStart"
           materialize="pickadate"
           [materializeParams]="[{selectMonths: true, selectYears: 15, format:'dd.mm.yyyy'}]" required/>
    <label for="planStart">Planbeginn</label>
  </div>

  <div class="input-field col s6">
    <input placeholder="Plan Ende" name="planEnd" type="text" [(ngModel)]="model.planEnd" id="planEnd"
           materialize="pickadate"
           [materializeParams]="[{ selectMonths: true,format:'dd.mm.yyyy'}]" required/>
    <label for="planStart">Planende</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s4">
    <input placeholder="Begin Uhrzeit"
           name="eventStartTime"
           type="text" [(ngModel)]="model.eventStartTime"
           id="eventStartTime"
           materialize=""/>
    <label for="planStart">Begin Uhrzeit</label>
  </div>

  <div class="input-field col s4">
    <input placeholder="Ende Uhrzeit"
           name="eventEndTime"
           type="text" [(ngModel)]="model.eventEndTime"
           id="eventEndTime"
           materialize=""/>
    <label for="eventEndTime">Ende Uhrzeit</label>
  </div>

  <div class="input-field col s4">
    <input placeholder="Wiederholung (Tage)"
           name="eventEndTime"
           type="text" [(ngModel)]="model.eventRecurringDays"
           id="eventRecurringDays"
           materialize=""/>
    <label for="eventEndTime">Wiederholung (Tage)</label>
  </div>
</div>

