.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

th, td {
  border: 1px solid black;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.trow {
  display: table-row;
  background: #f6f6f6;
}
.trow:nth-of-type(odd) {
  background: #e9e9e9;
}
.trow.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.trow.green {
  background: #27ae60;
}
.trow.blue {
  background: #2980b9;
}
.trow.grey {
  background: #B2B2B2;
}
@media screen and (max-width: 580px) {
  .trow {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

input{
  position: relative;
  border-style: none;
  text-align: right;
}

.available {

  background-color: grey;
}









