<form materialize class="groupForm" id="groupForm" #groupEditForm="ngForm">


  <div class="row">
    <div class="col s12">
      <input placeholder="Gruppenname" name="groupName" [ngModel]="model.name" id="groupName"
             (change)="onChanges(groupName.name, groupName.value)"
             type="text" class="validate" required #groupName="ngModel">
      <div [hidden]="groupName.valid || groupName.pristine"
           class="red-text">
        Gruppenname ist leer
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
  <textarea placeholder="Kommentar" name="groupComment" id="groupComment"
            (change)="onChanges(groupComment.name, groupComment.value)"
            [ngModel]="model.comment"
            class="materialize-textarea" #groupComment="ngModel"></textarea>
    </div>
  </div>


  <address-editor [address]="model.address"></address-editor>


  <a class="waves-effect waves-light btn" (click)="addTeilgruppe()"><i
    class="material-icons left">reply</i>Neue Teilgruppe</a>

  <div class="row">
    <div class="col s6" *ngFor="let teilgruppe of model.sections; let i=index;">
      <div class="card">
        <div class="card-content">
          <h5>Gruppe {{i+1}}</h5>
          <div class="input-field">
            <select [(ngModel)]="participantTmpModel[i]"
                    name="teilgruppenSelect{{i}}"
                    multiple #teilgruppenSelect
                    (ngModelChange)="besetzungChanged(teilgruppe,$event)"
                    [materializeSelectOptions]="personList"
                    materialize="material_select">
              <option *ngFor="let option of personList" [value]="option.uuid">{{option.getTitle()}}</option>
            </select>
          </div>

          <!-- Display participant core information -->
          <participant-ref-list-view [participants]="teilgruppe.participants"
                                     [personList]="personList"></participant-ref-list-view>

        </div>
        <div class="card-action">
          <a (click)="removeTeilgruppe(teilgruppe)" class="waves-effect waves-teal btn-flat "><i
            class="material-icons red-text">delete</i></a>
        </div>
      </div>
    </div>
  </div>

</form>
