<a materialize="tooltip" class="btn-floating btn-large waves-effect waves-light tooltipped"
   (click)="navDashboard()" data-position="bottom"
   data-delay="50" data-tooltip="Zurück zu Plänen"><i
  class="material-icons left">reply</i></a>

<a materialize="tooltip"
   [ngClass]="{'disabled': !isPersistent}"
   (click)="removalDialog.openModal()" class="btn-floating btn-large waves-effect waves-light red tooltipped"
   [materializeParams]="[{dismissible: false}]" data-position="bottom" data-delay="50" data-tooltip="Plan löschen">
  <i class="material-icons left ">delete_sweep</i></a>

<a materialize="tooltip" class="btn-floating btn-large waves-effect waves-light blue tooltipped"
   (click)="callSaveClicked()" data-position="bottom" data-delay="50" data-tooltip="Plan speichern"
   [ngClass]="{'disabled': !isSaveAllowed}"><i
  class="material-icons left">send</i></a>

<!-- SideNav -->
<ul id="slide-out" class="side-nav">
  <li routerLinkActive="active"><a [routerLink]="['/']" [ngClass]="{'disabled': !isPersistent}"><i
    class="material-icons">border_color</i>Druckeinstellungen</a>
  </li>
  <li routerLinkActive="active"><a [routerLink]="['/']"  [ngClass]="{'disabled': !isPersistent}" [ngClass]="{'disabled': !isPersistent}"><i
    class="material-icons">print</i>Drucken</a></li>

  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader">Anpassung</a></li>
  <li routerLinkActive="active"><a [routerLink]="['../edit']" [ngClass]="{'disabled': !isPersistent}"><i
    class="material-icons">phonelink_setup</i>Plan anpassen</a>

  <li><a class="subheader">Benachrichtigung</a></li>
  <li routerLinkActive="active"><a [routerLink]="['../notification']" [ngClass]="{'disabled': !isPersistent}"><i
    class="material-icons">phonelink_setup</i>Konfiguration</a>
  </li>

</ul>

<a materialize="sideNav" data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light"><i
  class="material-icons">tune</i></a>


<removal-dialog (removeAccepted)="callRemoveClicked()"></removal-dialog>
