<ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header" style="position: relative;"><i class="material-icons">filter_drama</i>{{groupName}}
      <span class="badge">{{notificationList.length}}</span></div>
    <div class="collapsible-body">

      <div *ngFor="let notificationItem of notificationList | orderBy:['scheduledDateIndexed', '_id']">
        <p>
          <b>{{notificationItem.recipient}}</b><br/>
          Geplannt am: {{notificationItem.scheduledDate}}<br/>
          Status: {{notificationItem.status}} <br/>
          Bestätigt: {{notificationItem.isConfirmed}}<br/>
          Gesendet: {{notificationItem.isSent}}
          <i class="material-icons right " *ngIf="notificationItem.notificationType == 'cal'">event</i>
          <i class="material-icons right " *ngIf="notificationItem.notificationType == 'email'">email</i>
          <i class="material-icons right " *ngIf="notificationItem.notificationType == 'sms'">call</i>
        </p>
      </div>

    </div>


  </li>
</ul>

