<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header" style="position: relative;"><i class="material-icons">filter_drama</i>{{groupName}}

      <span class="badge right  " style="position:relative;">{{notificationList.length}}</span>
    </div>
    <div class="collapsible-body">

      <table>
        <thead>
          <tr>
            <th data-field="id"></th>
            <th data-field="id">Geplannt</th>
            <th data-field="name">Status</th>
            <th data-field="price">Gesendet</th>
            <th data-field="price">Bestätigt</th>
            <th data-field="price">
              <a materialize="tooltip" (click)="removeClicked()" data-tooltip="Die Benachrichtigungen dieser Gruppe löschen" class="btn-flat tooltipped right">
              <i class="material-icons  red-text darken-1-text">delete</i></a>
            </th>
          </tr>
        </thead>
        <tbody>


          <tr [ngClass]="{'blue-text lighten-5-text': notificationItem.isInPast, 'light-green-text lighten-5-text':!notificationItem.isInPast}"
            *ngFor="let notificationItem of notificationList | orderBy:['scheduledDateIndexed', '_id']">
            <td>
              <i class="material-icons right " *ngIf="notificationItem.notificationType == 'cal'">event</i>
              <i class="material-icons right " *ngIf="notificationItem.notificationType == 'email'">email</i>
              <i class="material-icons right " *ngIf="notificationItem.notificationType == 'sms'">call</i>
            </td>
            <td>{{notificationItem.scheduledDate}} ({{notificationItem.scheduledDateOrientation}}) </td>
            <td>{{notificationItem.status}}</td>
            <td> <i class="material-icons" *ngIf="notificationItem.isSent">thumb_up</i> </td>
            <td><i class="material-icons" *ngIf="notificationItem.isConfirmed">thumb_up</i> </td>
          </tr>


        </tbody>
      </table>

    </div>


  </li>
</ul>