<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" routerLink="/" class="brand-logo"> <i class="material-icons">security</i>
    J316-Organization</a>

    <ul id="dropdown1" class="dropdown-content">
      <a (click)="processLogout()" *ngIf="auth.authenticated()" class="blue-text text-darken-2"><i
        class="material-icons blue-text text-darken-2">lock</i> Logout</a>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active" *ngIf="auth.authenticated()"><a routerLink="person/all"><i class="material-icons">supervisor_account</i></a>
      </li>
      <li routerLinkActive="active" *ngIf="auth.authenticated()"><a routerLink="plans/"><i class="material-icons">chrome_reader_mode</i></a>
      </li>

      <li><a (click)="auth.login()" *ngIf="!auth.authenticated()"><i class="material-icons">lock_open</i></a></li>


      <li class="user" *ngIf="auth.authenticated() && auth.userProfile">
        <div style="padding: 0 15px;">
          <a class="dropdown-button" data-activates="dropdown1" materialize="dropdown">
            <img src="{{auth.userProfile.picture}}"
                 style="width: 35px; vertical-align: middle;" alt="John Doe"
                 class="circle"> {{auth.userProfile.nickname}}
          </a>
        </div>
      </li>

    </ul>


    <ul id="nav-mobile" class="side-nav">
      <li routerLinkActive="active" *ngIf="auth.authenticated()"><a routerLink="person/all"> Personen</a></li>
      <li routerLinkActive="active" *ngIf="auth.authenticated()"><a routerLink="plans/"> Pläne</a></li>

      <li><a (click)="auth.login()" *ngIf="!auth.authenticated()"> Login</a></li>
      <li><a (click)="processLogout()" *ngIf="auth.authenticated()" href="#"> Logout</a></li>
    </ul>
    <a materialize="sideNav" href="#" data-activates="nav-mobile" class="button-collapse"><i
      class="material-icons">menu</i></a>
  </div>
</nav>

<div class=" container">
  <router-outlet></router-outlet>
</div>

<alert-listener></alert-listener>
<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">J316 Organization</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Author <a class="orange-text text-lighten-3" href="http://agranovskiy.de">Leonid Agranovskiy</a>
    </div>
  </div>
</footer>
