<form materialize class="col s12" #planForm="ngForm">

  <div class="row valign-wrapper">
    <div class="col s1">
      <i class="large material-icons">border_clear</i>
    </div>

    <div class="col s7">
      <h3>{{plan.planName}}</h3>
    </div>

    <div class="col s12 right-align">
      <a materialize="tooltip" class="btn-floating btn-large waves-effect waves-light tooltipped"
         (click)="navDashboard()" data-position="bottom" data-delay="50" data-tooltip="Zurück zu Plänen"><i
        class="material-icons left">reply</i></a>
      <a materialize="tooltip" class="btn-floating btn-large waves-effect waves-light red tooltipped"
         (click)="removePlan()" data-position="bottom" data-delay="50" data-tooltip="Plan löschen"><i
        class="material-icons left ">delete_sweep</i></a>
      <a materialize="tooltip" class="btn-floating btn-large waves-effect waves-light blue tooltipped"
         (click)="saveChanges()" data-position="bottom" data-delay="50" data-tooltip="Plan speichern"
         [ngClass]="{'disabled': !planForm.form.valid}"><i
        class="material-icons left">send</i></a>

      <!-- SideNav -->
      <ul id="slide-out" class="side-nav">
        <li><a href="#!"><i class="material-icons">border_color</i>Druckeinstellungen</a></li>
        <li><a href="#!"><i class="material-icons">print</i>Drucken</a></li>

        <li>
          <div class="divider"></div>
        </li>
        <li><a class="subheader">Benachrichtigung</a></li>
        <li><a href="#"><i class="material-icons">phonelink_setup</i>Anpassen</a></li>
        <li><a href="#"><i class="material-icons green-text">phonelink_ring</i>Starten</a></li>
        <li><a href="#"><i class="material-icons red-text">phonelink_erase</i>Vorzeitig beenden</a></li>
      </ul>

      <a materialize="sideNav" data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light"><i
        class="material-icons">tune</i></a>

      <!-- End of SideNav -->
    </div>
  </div>

  <div class="card-panel">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Planbezeichnung" name="planName" [(ngModel)]="plan.planName" id="planName"
               type="text" class="validate" required #planName="ngModel">
        <label for="planName">Planbezeichnung</label>
        <div [hidden]="planName.valid || planName.pristine"
             class="red-text">
          Planbezeichnung muss angegeben werden
        </div>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Plan Beginn" name="planStart" type="text" [(ngModel)]="plan.planStart"
               id="planStart"
               materialize="pickadate"
               [materializeParams]="[{selectMonths: true, selectYears: 15, format:'dd.mm.yyyy'}]" required/>
        <label for="planStart">Planbeginn</label>
      </div>

      <div class="input-field col s6">
        <input placeholder="Plan Ende" name="planEnd" type="text" [(ngModel)]="plan.planEnd" id="planEnd"
               materialize="pickadate"
               [materializeParams]="[{ selectMonths: true,format:'dd.mm.yyyy'}]" required/>
        <label for="planStart">Planende</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <input placeholder="Begin Uhrzeit"
               name="eventStartTime"
               type="text" [(ngModel)]="plan.eventStartTime"
               id="eventStartTime"
               materialize=""/>
        <label for="planStart">Begin Uhrzeit</label>
      </div>

      <div class="input-field col s4">
        <input placeholder="Ende Uhrzeit"
               name="eventEndTime"
               type="text" [(ngModel)]="plan.eventEndTime"
               id="eventEndTime"
               materialize=""/>
        <label for="eventEndTime">Ende Uhrzeit</label>
      </div>

      <div class="input-field col s4">
        <input placeholder="Wiederholung (Tage)"
               name="eventEndTime"
               type="text" [(ngModel)]="plan.eventRecurringDays"
               id="eventRecurringDays"
               materialize=""/>
        <label for="eventEndTime">Wiederholung (Tage)</label>
      </div>
    </div>
  </div>

  <div class="row" style="position: relative;">
    <div class="col s4">
      <h4>Plangruppen</h4>
    </div>
    <div class="col s8 right-align">
      <a (click)="addDienstPlanGruppe()" class="btn-floating btn-small waves-effect waves-light red"><i
        class="material-icons">add</i></a>
    </div>


  </div>
  <div class="row">
    <div class="col s12">
      <div *ngFor="let dienstPlanGruppe of plan.groupList">

        <gruppe-view [model]="dienstPlanGruppe" (removeClicked)="removeDienstPlanGruppe($event)"></gruppe-view>
        <!--  <view-card [model]="dienstPlanGruppe" (openClicked)="openDienstPlanGruppe($event)"></view-card>-->
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col s4">
      <h4>Besetzung</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <app-plan-table [plan]="plan"></app-plan-table>
    </div>
  </div>


</form>
