<form materialize class="col s12" #planForm="ngForm">

  <div class="row valign-wrapper">
    <div class="col s1">
      <i class="large material-icons">border_clear</i>
    </div>

    <div class="col s7">
      <h3>{{(plan$|async).planName }}</h3>
    </div>

    <div class="col s4 right-align">
      <plan-navigation-toolbar [isSaveAllowed]="planForm.valid" (saveClicked)="savePlan()"
                               (backClicked)="navDashboard()" (removeClicked)="removePlan()"></plan-navigation-toolbar>
    </div>

  </div>

  <div class="card-panel">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Planbezeichnung"
               name="planName"
               [ngModel]="(plan$|async).planName" (change)="onChanges(planName.name,planName.value)"
               id="planName" type="text" class="validate" required #planName="ngModel">
        <label for="planName">Planbezeichnung</label>
        <div [hidden]="planName.valid || planName.pristine"
             class="red-text">
          Planbezeichnung muss angegeben werden
        </div>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s4">
        <input placeholder="Plan Beginn" name="planStart" type="text" [ngModel]="(plan$|async).planStart"
               (ngModelChange)="onChanges(planStart.name, planStart.value)"
               id="planStart" #planStart
               materialize="pickadate"
               [materializeParams]="[{selectMonths: true, selectYears: 15, format:'dd.mm.yyyy'}]" required/>
        <label for="planStart">Planbeginn</label>
      </div>

      <div class="input-field col s4">
        <input placeholder="Plan Ende" name="planEnd" type="text" [ngModel]="(plan$|async).planEnd" id="planEnd"
               (ngModelChange)="onChanges(planEnd.name, planEnd.value)"
               materialize="pickadate" #planEnd
               [materializeParams]="[{ selectMonths: true,format:'dd.mm.yyyy'}]" required/>
        <label for="planStart">Planende</label>
      </div>


      <div class="input-field col s4">
        <input placeholder="Wiederholung (Tage)"
               name="eventRecurringDays"
               type="text" [ngModel]="(plan$|async).eventRecurringDays"
               id="eventRecurringDays"
               (change)="onChanges(eventRecurringDays.name, eventRecurringDays.value)"
               #eventRecurringDays
               materialize=""/>
        <label for="eventRecurringDays">Wiederholung (Tage)</label>
      </div>
    </div>
  </div>

  <div class="row" style="position: relative;">
    <div class="col s4">
      <h4>Plangruppen</h4>
    </div>
    <div class="col s8 right-align">
      <a (click)="addDienstPlanGruppe()" class="btn-floating btn-small waves-effect waves-light red"><i
        class="material-icons">add</i></a>
    </div>


  </div>
  <div class="row">
    <div class="col s12">
      <div *ngFor="let dienstPlanGruppe of (plan$|async).groupList">

        <gruppe-view [model]="dienstPlanGruppe" [personList]="personList$ | async"
                     (removeClicked)="removeDienstPlanGruppe($event)"></gruppe-view>

      </div>
    </div>

  </div>


  <div class="row">
    <div class="col s4">
      <h4>Besetzung</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s12">

      <app-plan-table [plan]="plan$|async" [personList]="personList$ | async"></app-plan-table>

    </div>
  </div>


</form>
