<div class="row">

  <a *ngIf="!notificationsActive"
     class="waves-effect waves-light btn-large"
     (click)="startPlanNotifications()"><i class="material-icons right">phonelink_ring</i>Benachrichtigungen
    versenden</a>

  <a *ngIf="notificationsActive"
     class="waves-effect waves-light btn-large red"
     (click)="removePlanNotifications()"><i class="material-icons right">phonelink_ring</i>Alle Benachrichtigungen
    löschen</a>

</div>

<!-- Modal Structure -->
<div id="notificationReport" class="modal bottom-sheet" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="reportModalActions" materialize="modal">
  <div class="modal-content">
    <h4>Benachrichtungsbericht</h4>

    <div class="row" *ngIf="error != null">
      Es ist eine Fehler aufgetreten :(
      <p class="text-darken-2"> {{error}} </p>
    </div>
    <div class="row">
      <div class="col s6 m3"
           *ngFor="let reportItem of sentReport | orderBy:['scheduledDateIndexed', 'recipient','_id']">
        <div class="card horizontal">
          <div class="card-image text-darken-2">
            <i class="material-icons right " style="font-size: 100px;" *ngIf="reportItem.notificationType == 'cal'">event</i>
            <i class="material-icons right " style="font-size: 100px;" *ngIf="reportItem.notificationType == 'email'">email</i>
            <i class="material-icons right " style="font-size: 100px;"
               *ngIf="reportItem.notificationType == 'sms'">call</i>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>{{reportItem.recipient}}</h5>
              <p>Geplannt am: {{reportItem.scheduledDate}}</p>
              <p [ngClass]="{success: reportItem.success, failed:!reportItem.success}">Status: {{reportItem.status}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>


<!-- Modal Structure -->
<div id="notificationCancelReport" class="modal bottom-sheet" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="removalModalActions" materialize="modal">
  <div class="modal-content">
    <h4>Benachrichtungsbericht</h4>

    <div class="row" *ngIf="error != null">
      Es ist eine Fehler aufgetreten :(
      <p class="text-darken-2 red"> {{error}} </p>
    </div>
    <div class="row" *ngIf="error == null">
      Gelöscht <b> {{cancelReport.n}}</b> Benachrichtigungen
    </div>

  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
