<div class="row">
  <div class="col s12">
    <h2>Person: {{person.forename + ' ' + person.surname}}</h2>
  </div>
</div>


<form materialize class="col s12" #planForm="ngForm">
  <div class="row">
    <div class="col s12 right-align">
      <a class="waves-effect waves-light btn" (click)="navDashboard()"><i class="material-icons left">reply</i>Zum
        Übersicht</a>
      <a class="waves-effect waves-light btn" (click)="saveChanges()"
         [ngClass]="{'disabled': !planForm.form.valid}"><i
        class="material-icons left">send</i>Sichern</a>
    </div>
  </div>
</form>
