<form materialize class="col s12 " #planForm="ngForm">


  <div class="row "> <div class="col"></div></div>

  <div class="row valign-wrapper">
    <div class="col s9 valign-wrapper">

      <div class="flow-text valign"> -> {{person.forename + ' ' + person.surname}}</div>
    </div>

    <div class="col s3 right-align">
      <a materialize="tooltip" class="btn-floating btn-large waves-effect waves-light tooltipped"
         (click)="navDashboard()" data-position="bottom"
         data-delay="50" data-tooltip="Zurück zu Personen"><i
        class="material-icons left">reply</i></a>
      <a materialize="tooltip" class="btn-floating btn-large waves-effect waves-light blue tooltipped"
         (click)="saveChanges()"
         data-position="bottom" data-delay="50" data-tooltip="Änderugnen speichern"
         [ngClass]="{'disabled': !planForm.form.valid}">
        <i class="material-icons left">send</i></a>
      <a materialize="tooltip"
         [ngClass]="{'disabled': !isPersistent}"
         (click)="openRemovalDialog()" class="btn-floating btn-large waves-effect waves-light red tooltipped"
         [materializeParams]="[{dismissible: false}]" data-position="bottom" data-delay="50"
         data-tooltip="Plan löschen">
        <i class="material-icons left ">delete_sweep</i></a>
    </div>
  </div>


  <div class="card-panel">
    <h4 class="header">Persönliche Daten</h4>

    <div class="row">
      <div class="input-field col s12 m6">
        <input placeholder="Max" name="forename" [(ngModel)]="person.forename" id="forename" type="text"
               class="validate" required
               #forename="ngModel">
        <label for="forename">Vorname</label>
        <div [hidden]="forename.valid || forename.pristine" class="red-text">
          Vorname muss angegeben werden
        </div>
      </div>

      <div class="input-field col s12 m6">
        <input placeholder="Mustermann" name="surname" [(ngModel)]="person.surname" id="surname" type="text"
               class="validate" required
               #surname="ngModel">
        <label for="surname">Nachname</label>
        <div [hidden]="surname.valid || surname.pristine" class="red-text">
          Nachname muss angegeben werden
        </div>
      </div>
    </div>

    <!-- <div class="row">
       <div class="input-field col s12 m6">
         <select placeholder="Max" id="gender" name="gender" [(ngModel)]="person.gender" materialize="material_select"
                 type="text"
                 class="validate" required #gender="ngModel">
           <option value="male">männlich</option>
           <option value="female">weiblich</option>
         </select>
         <label for="gender">Geschlecht</label>
         <div [hidden]="gender.valid || gender.pristine" class="red-text">
           Geschlecht muss angegeben werden
         </div>
       </div>

       <div class="input-field col s12 m6">
         <input placeholder="z.B. 01.05.1980" name="planStart" type="text" [(ngModel)]="person.dob" id="dob"
                materialize="pickadate"
                [materializeParams]="[{selectMonths: true, selectYears: 180, format:'dd.mm.yyyy'}]" required/>
         <label for="dob">Geburtdatum</label>
       </div>
     </div>-->

    <div class="row">

      <div class="input-field col s12 m4">
        <input placeholder="0176 1234567" name="mobilePhone" [(ngModel)]="person.mobilePhone" id="mobilePhone"
               type="text">
        <label for="mobilePhone">Handy</label>
      </div>

      <div class="input-field col s12 m4">
        <input placeholder="06172 1234567" name="phone1" [(ngModel)]="person.phone1" id="phone1" type="text">
        <label for="phone1">Festnetz</label>
      </div>

      <div class="input-field col s12 m4">
        <input name="email" id="email" type="email" class="validate" placeholder="test@gmx.de"
               [(ngModel)]="person.email">
        <label for="email">Email</label>
      </div>

    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="comment" name="comment" class="materialize-textarea" [(ngModel)]="person.comment"
                  placeholder="zur Zeit im Elternzeit"></textarea>
        <label for="comment">Kommentar</label>
      </div>
    </div>
  </div>

  <div class="card-panel">
    <h4 class="header">Benachrichtigungseinstellungen</h4>


    <div class="row">

      <div class="input-field col s12 m4">
        <input id="notificationEmail" name="notificationEmail" [(ngModel)]="person.notificationEmail" type="checkbox">
        <label for="notificationEmail">Email Benachrichtigung</label>
      </div>

      <div class="input-field col s12 m4">
        <input id="notificationSMS" name="notificationSMS" [(ngModel)]="person.notificationSMS" type="checkbox">
        <label for="notificationSMS">SMS Benachrichtigung</label>
      </div>

      <div class="input-field col s12 m4">
        <input id="notificationCal" name="notificationCal" [(ngModel)]="person.notificationCal" type="checkbox">
        <label for="notificationCal">Kalendareinladungen</label>
      </div>

    </div>
  </div>
  <div class="card-panel">
    <h4 class="header">Anschrift</h4>
    <div class="row">
      <div class="input-field col s12 m4">
        <address-editor [address]="person.address"></address-editor>
      </div>
      <div class="input-field col s12 m8">
        <geo-map [circleLocations]="[person]"
                 [zoom]="11"
                 [circleRadius]="0" [markerLocations]="[person]"></geo-map>
      </div>
    </div>
  </div>
  <div class="card-panel">
    <h4 class="header">Benachrichtigungen</h4>
    <p *ngIf="notifications.length==0">Keine Benachrichtigungen gefunden</p>

    <div *ngIf="notifications.length>0">
      <div *ngFor="let planGroup of notifications | groupByDienstPlan:existingPlans">
        <div class="row">
          <div class=" col s12 m6 ">
            <notification-single-group-presenter [groupName]="planGroup.name" [notificationList]="planGroup.children"
                                                 (removeGroup)="groupNotifcationRemove(planGroup.uuid)"></notification-single-group-presenter>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>


<removal-dialog [removalIdentification]="person.getTitle()" (removeAccepted)="removePerson()"></removal-dialog>
